:global(.postal-code-input){
    display: flex;
    align-items: center;
    border: 1px solid green;
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
:global(.postal-code-input input) {
    border: none;
    outline: none;
    display: flex;
    max-width: fit-content;
    
  }

  :global(.vtex-styleguide-9-x-shadowTransition){
    background-color: rgb(61, 145, 42) !important;
    color: white !important;
    margin-bottom: 30px !important;
  }

  :global(.f3){
    color: white !important;
  }

  :global(.c-action-primary){
    color:  rgb(61, 145, 42) !important;
  }
  